node_modules
    # Logs
    logs
    *.log
    npm-debug.log*
    yarn-debug.log*
    yarn-error.log*
    lerna-debug.log*

    # Dependency directories
    node_modules/

    # Optional npm cache directory
    .npm/

    # Optional eslint cache
    .eslintcache

    # Compiled JavaScript files (if your React build outputs to 'build' instead of 'app/dist')
    build/

    # Electron-related build output
    dist/ # If your Electron output directly goes into a 'dist' folder at root
    release/
    app/dist/ # Your React build output
    build-app/

    # macOS specific files
    .DS_Store
    *.dmg
    *.pkg
    *.app

    # Windows specific files
    *.exe
    *.dll
    *.exp
    *.lib
    *.pdb
    *.zip
    *.tar.gz
    out/
    # If electron-builder puts unpacked app here:
    electron-build/

    # Local configuration files
    .env
    .env.local
    .env.development.local
    .env.test.local
    .env.production.local
    .env.*.local
    # Application runtime configuration, should not be committed
    app-config.json
    vault.dat

    # IDE specific files
    .vscode/
    .idea/
    *.sublime-project
    *.sublime-workspace

    # Thumbnails
    .thumbnails/

    # Crash reports
    Crashpad/
    